.WidgetShell1[data-horizontal-size="4"] {
    height:	530px !important;
}

.Grid>.Body>.Scrolling>table {
    width: 100% !important;
}

.Grid>.Header {
    background-color: #1c2932 !important;
    border-top: solid 1px #465358 !important;
    border-bottom: solid 1px #465358 !important;
}

.Grid>.Footer {
    border-top: solid 1px #465358 !important;
}

.Grid>.Body>.Scrolling>table>tbody>tr:nth-child(even) {
    background-color: #1c2932 !important;
}

.DashboardHeading1 {
    border-bottom: 0px !important;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #7a7a7a; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #2f3e46; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #242d35; 
  }